header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    max-width: 1430px;
    width: 100%;
    margin: 0 auto;

    .top-menu {
        display: flex;
        align-items: center;
        margin-bottom: 1em;


        form {
            flex-grow: 2;
            margin-right: 50px;

            input {
                max-width: 582px;
                width: 100%;
                padding: 15px 30px
            }
        }
    }

    nav {
        display: flex;
        align-items: center;
        button {
            margin-right: 50px;
        }
        ul {
            display: flex;
            li {
                padding-right: 50px;
            }
            li:last-child {
                padding-right: 0;
            }
        }
    }

    .logo {
        width: 124px;
        height: 124px;
        a {
            font-size: 0;
        }
        img {
            max-width: 100%;
        }
    }
}
