.card-body {
    max-width: 350px;
    width: 100%;
    padding: 61px 40px;
    background: #ddd;
    border-radius: 1em;
    margin: 0 10px 10px 0;

    &:last-child {
        margin-right: 0;
    }

    .card-image {
        margin-bottom: 50px;
        img {
            width: 128px;
            height: 128px;
        }
    }

    .card-title {
        margin-bottom: 10px;
        h3 {
            line-height: 1.3;
        }
    }
}

#description-cards {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

}